body {
  margin: 0;
  font-family: 'Oswald', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-poppins {
  font-family: 'Oswald', sans-serif !important;
}